
@media (max-width: 768px) {
    .mercury-grid {
        grid-template-columns: 1fr;
        /* Single column for mobile */
    }

    .big-card,
    .med-card,
    .stack-column {
        grid-column: span 1;
    }

    .stack-column {
        flex-direction: column;
    }

    .card,
    .small-card {
        height: 400px;
    }


   
    .newsletter-section {
        min-height: 60vh;
        padding: 40px 5%;
    }
    .newsletter-title {
        font-size: 2.8rem;
    }
    .newsletter-text {
        font-size: 1.1rem;
    }
}